<div class="table-container">
    <table id="climbers-table">
        <thead>
            <tr>
                <th id="table-date">Heure du scan</th>
                <th id="table-name">NOM Prénom</th>
                <th id="table-id">N° de licence</th>
                <th id="table-year">Année de validité</th>
                <th id="table-club">Club</th>
                <th id="table-birthdate">Date de naissance</th>
                <th id="table-passport">Passeport</th>
                <th><button class="icon" (click)="resetClimbersList()">🧹&nbsp;Tout effacer</button></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let climber of climbers">
                <!--
                    <th>Nom</th>
                    <th>N° de licence</th>
                    <th>Année de validité</th>
                    <th>Club</th>
                    <th>Année de naissance</th>
                    <th>Passeport</th>
                    <th>/* Boutons */</th>
                 -->

                <td>{{climber.scanTime | date}}</td>
                <td>{{climber.name}}</td>
                <td>{{climber.id}}</td>
                <td [class.invalid]="!climber.isLicenceValid()">{{ climber.year }}</td>
                <td>{{climber.club ? climber.club : "?"}}</td>
                <td [class.kid]="!climber.isClimberAdult()">{{climber.birthDate}}</td>
                <td>
                    <span [class.special]="climber.getHighestPassport().special"
                        style="background: {{climber.getHighestPassport().color}};"></span>&nbsp;{{
                    climber.getHighestPassport().shortname }}
                </td>
                <td>
                    <button class="icon" (click)="deleteClimberFromList(climber)">❌&nbsp;Supprimer</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{climbers.length}}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- <form on:submit|preventDefault={exportList}>
    <div>
        <label for="manager">Responsable: </label>
        <input bind:value={manager} required id="manager" type="text">
    </div>

    <button type="submit" class="big-button">Exporter la liste</button>
</form> -->