<div class="table-responsive-md">
    <table class="table table-bordered align-middle" id="climbers-table">
        <thead class="table-light">
            <tr>
                <th class="d-none" scope="col" id="table-date">Heure du scan</th>
                <th scope="col" id="table-name">Nom</th>
                <th scope="col" id="table-id">Licence</th>
                <th scope="col" id="table-year">Année</th>
                <th scope="col" id="table-club">Club</th>
                <th scope="col" id="table-birthdate">Date de naissance</th>
                <th scope="col" id="table-passport">Passeport</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let climber of climbers" [ngClass]="rowClassesForClimber(climber)">
                <!--
                        <th>Nom</th>
                        <th>N° de licence</th>
                        <th>Année de validité</th>
                        <th>Club</th>
                        <th>Année de naissance</th>
                        <th>Passeport</th>
                        <th>/* Boutons */</th>
                     -->

                <td class="d-none">{{climber.scanTime | date:'dd/MM/yyyy HH:mm' }}</td>
                <td scope="row">{{climber.name}}</td>
                <td>{{ climber.id }}</td>
                <td>{{ climber.year != 0 ? climber.year : "" }}</td>
                <td>{{ climber.club ? climber.club : "" }}</td>
                <td>{{ climber.birthDate }}</td>
                <td>
                    <span [class.special]="climber.getHighestPassport().special"
                        [style.background]="climber.getHighestPassport().bgColor"></span>
                    &nbsp;{{ climber.getHighestPassport().shortname }}
                </td>
                <td class="text-center">
                    <button class="btn btn-danger" (click)="deleteClimberFromList(climber)"><i
                            class="bi-trash"></i></button>
                </td>
            </tr>
        </tbody>

        <tfoot class="table-light">
            <tr>
                <th class="text-end" colspan="7">Total : {{ climbers.length }}</th>
            </tr>
        </tfoot>
    </table>
</div>

<form *ngIf="climbers.length>0" (submit)="exportTable($event)">
    <div class="row mb-3">
        <label class="col-md-2 col-form-label" for="manager">Responsable: </label>
        <div class="col-md-10">
            <input class="form-control" [(ngModel)]="manager" required name="manager" id="manager" type="text">
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-danger me-md-auto" (click)="resetClimbersList()">Remise
            à zéro</button>
        <button type="button" class="btn btn-outline-primary" id="addButton">Ajout manuel</button>
        <button type="button" class="btn btn-outline-success" id="exportButton" type="submit">Export</button>
    </div>
</form>