<div class="table-responsive">
    <table class="table table- table-bordered" id="climbers-table">
        <thead>
            <tr>
                <th class="d-none" scope="col" id="table-date">Heure du scan</th>
                <th scope="col" id="table-name">Nom</th>
                <th scope="col" id="table-id">Licence</th>
                <th scope="col" id="table-year">Année</th>
                <th scope="col" id="table-club">Club</th>
                <th scope="col" id="table-birthdate">Date de naissance</th>
                <th scope="col" id="table-passport">Passeport(s)</th>
                <th>🗑</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let climber of climbers" [ngClass]="rowClassesForClimber(climber)">
                <!--
                        <th>Nom</th>
                        <th>N° de licence</th>
                        <th>Année de validité</th>
                        <th>Club</th>
                        <th>Année de naissance</th>
                        <th>Passeport</th>
                        <th>/* Boutons */</th>
                     -->

                <td class="d-none">{{climber.scanTime | date:'dd/MM/yyyy HH:mm' }}</td>
                <td scope="row">{{climber.name}}</td>
                <td>{{climber.id}}</td>
                <td>{{ climber.year }}</td>
                <td>{{climber.club ? climber.club : "?"}}</td>
                <td>{{climber.birthDate}}</td>
                <td>
                    <span [class.special]="climber.getHighestPassport().special"
                        [style.background]="climber.getHighestPassport().bgColor"></span>
                    &nbsp;{{ climber.getHighestPassport().shortname }}
                </td>
                <td class="align-middle">
                    <button class="icon" (click)="deleteClimberFromList(climber)">❌</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th *ngIf="climbers.length>0">Total : {{climbers.length}}</th>
            </tr>
        </tfoot>
    </table>
</div>

<form *ngIf="climbers.length>0" (submit)="exportTable($event)">
    <div>
        <label for="manager">Responsable: </label>
        <input [(ngModel)]="manager" required name="manager" type="text">
    </div>

    <div class="controls horizontal">
        <button class="danger" (click)="resetClimbersList()">Tout effacer</button>
        <button id="exportButton" type="submit">Exporter la liste</button>
    </div>
</form>