<div class="ratio ratio-4x3 bg-light mb-2">
    <zxing-scanner #scanner [enable]='scannerEnabled' (scanSuccess)="scanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)">
    </zxing-scanner>

    <div class="d-flex flex-column gap-2 justify-content-center" *ngIf="!scannerEnabled">
        <button class="btn btn-primary" (click)="scannerEnabled=true; oneShotScan=true">
            Scan<br /><small>one-shot</small>
        </button>
        <button class="btn btn-primary" (click)=" scannerEnabled=true; oneShotScan=false">
            Scan<br /><small>en continu</small>
        </button>
    </div>

</div>
<div class="d-grid gap-2">
    <button class="btn btn-danger" [attr.disabled]="scannerEnabled ? null : ''" (click)="scannerEnabled=false">Stopper
        le
        scan</button>

</div>