.controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button {
    width: 100%;
    color: white;
    background-color: #1e88e5;
    border: none;
    margin-top: 0.5rem;
    padding: 0.6rem;
}