<div class="container-md">
    <div class="row">
        <div class="col-md-9">
            <app-scanner (scannedURL)=scannedURLHandler($event)></app-scanner>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
            <app-licence-display [climber]="climbers[climbers.length-1]">
            </app-licence-display>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <app-climbers-table [climbers]="climbers"></app-climbers-table>
        </div>
    </div>
</div>