<div class="container-md">
    <div class="row">
        <div class="col-md-9">
            <app-scanner (scannedURL)=scannedURLHandler($event)></app-scanner>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
            <app-licence-display [climber]="climbers[climbers.length-1]">
            </app-licence-display>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <app-climbers-table [climbers]="climbers"></app-climbers-table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="configModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-check mb-3">
                        <input type="checkbox" id="configEnableAgeCheck" class="form-check-input">
                        <label for="configEnableAgeCheck" class="form-check-label">Vérification d'âge</label>
                        <div id="configEnableAgeCheckHelp" class="form-text">
                            Si activé, les mineurs seront surlignés en jaune.
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>