/* You can add global styles to this file, and also import other style files */
/* :root {
    --background: #f3f3f3;
    --accent: #c63735;
}

html {
    font-size: 100%;
    font-family: Open Sans, Arial, Helvetica, Sans-serif;
    color: #222;
    margin: 0;
}

body {
    margin: 0;
}

app-root {
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    min-height: 100vh;
    margin: 0;

    background: var(--background);
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    padding-bottom: 2rem;
}

.wrapper {
    display: grid;
    gap: 2rem 0;
}
@media screen and (min-width: 640px) {
    main {
        width: 90%;
    }

    .wrapper {
        display: grid;
        gap: 2rem;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: min-content;
    }
}

header {
    border-bottom: solid 8px var(--accent);
}
header h1 {
    margin: auto auto 0 1em;
}

footer {
    width: fit-content;
    margin: 0 auto;

    font-size: small;
    text-align: center;
    color: #222;
    opacity: 0.6;
    transition: opacity ease-in 0.15s;
}
footer p {
    margin: 0.2rem 0;
}
footer:hover {
    opacity: 1;
}
footer a {
    color: inherit;
}

.panel {
    padding: 1rem;
    position: relative;
}

.box {
    box-shadow: 4px 6px 0 2px rgb(150 150 150 / 50%);
    border: 1px solid #999;
    background: #fff;
}

.full-width {
    grid-column: 1 / -1;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    line-height: 2rem;
}

td,th {
    padding: 0.3rem;
}

th:not(:nth-last-child(1)) {
    text-align: start;
}

table button {
    display: block;
    margin: 0 auto;
    width: 100%;
}

table thead tr:nth-child(1) th:not(:nth-last-of-type(1)) {
    border-right: solid 1px black;
}

table tbody tr:nth-child(odd) {
    background: #f3f3f3;
}

.controls {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.controls.horizontal {
    flex-direction: row;
}
.controls.horizontal button {
    margin: 0 0.4rem;
}

button {
    width: 100%;
    color: white;
    background-color: #1e88e5;

    border: none;
    margin-top: 0.5rem;
    padding: 0.6rem;
    cursor: pointer;
}
button.icon {
    border-style: none;
    background: none;
    color: initial;
}
button.danger {
    background-color: #c62828;
}

dl {
    margin: 0;
    padding: 0.4rem 0;
}

dt {
    font-weight: bold;
}

dd:only-child() + dd:before {
    content: '> ';
}

dd {
    margin: 0;
}

div.problem {
    background: rgb(255, 132, 132);
    padding: 6px;
    margin: 8px auto;
} */